@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
}

body {
  @apply text-slate-900 dark:bg-slate-900 dark:text-white;
  overflow-x: hidden;
}

@layer components {
  code {
    @apply inline-block bg-slate-200 dark:bg-slate-600;
    padding: 1px 4px;
  }

  .inline-link {
    @apply text-blue-800 underline dark:text-white;
  }
}
