@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
}

body {
  @apply text-slate-900 dark:bg-slate-900 dark:text-white;
  overflow-x: hidden;
}

@layer components {
  code {
    background: #e2e8f0;
    padding: 1px 4px;
    display: inline-block;
  }

  .inline-link {
    @apply text-blue-800 underline;
  }
}
